<!DOCTYPE html>
<html>

<head>
	<title>Look Up ASL</title>
	<meta charset="UTF-8">
	<meta name="description" content="American Sign Language lookup">
	<meta name="theme-color" content="#448aff">
	<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
</head>

<body>
	<main id="app">
		<h1>Look Up ASL</h1>
		<p>Enter words to look up signs for</p>
		<form @submit.prevent="submit">
			<textarea v-model="text" rows="10"></textarea><br>
			<input type="submit">
		</form>

        <h2>Results</h2>
        <ul>
          <li v-for="link in links" :key="link.href">
            <a :href="link.href">
              {{ link.source }}: {{ link.text }}
            </a>
            <br>

            <img width="300" height="300" v-if="link.imageUrl" :src="link.imageUrl" onerror="this.remove()">
            <img width="300" height="300" v-if="link.otherImageUrl" :src="link.otherImageUrl" onerror="this.remove()">
            <video controls width="320" height="240" v-if="link.videoUrl" :src="link.videoUrl">
          </li>
        </ul>
	</main>
    <script>console.log('loaded')</script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-material"></script>
	<script>
/* global Vue */

class LinkBuilder {
  constructor (text) {
    this.text = text
  }

  words () {
    if (this.text === '') return []

    const cleaned = this.text.split('\n')
      .map((line) => line.trim().toLowerCase())
    const set = new Set(cleaned)
    const unique = Array.from(set.keys())
    const sorted = unique.sort()

    return sorted
  }

  links () {
    return this.words()
      .map((word) => (new AslLink(word).all()))
      .flat()
  }
}

class AslLink {
  constructor (word) {
    this.word = word
  }

  all () {
    return [
      this.lifeprint(), this.signasl()
    ]
  }

  lifeprint () {
    const firstLetter = this.word[0]
    const escaped = encodeURIComponent(this.word)

    return {
      source: 'Lifeprint',
      href: `http://www.lifeprint.com/asl101//pages-signs/${firstLetter}/${escaped}.htm`,
      imageUrl: `http://www.lifeprint.com/asl101//gifs/${firstLetter}/${escaped}.gif`,
      otherImageUrl: `http://www.lifeprint.com/asl101//gifs-animated/${escaped}.gif`,
      text: this.word
    }
  }

  signasl (word) {
    const escaped = encodeURIComponent(this.word)

    return {
      source: 'SignASL',
      href: `https://www.signasl.org/sign/${escaped}`,
      videoUrl: `https://media.signbsl.com/videos/asl/startasl/mp4/${escaped}.mp4`,
      text: this.word
    }
  }
}

const _app = new Vue({
  el: '#app',
  data: {
    text: 'tiger'
  },
  methods: {
    submit () {
      console.log('submit')
    }
  },
  computed: {
    links () {
      const linkBuilder = new LinkBuilder(this.text)
      return linkBuilder.links()
    }
  }
})
	</script>
</body>

</html>
